---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayapi/DocumentUpload
    body:
      encoding: UTF-8
      string: '{"accountNum":123456,"DocumentName":"Chargeback 1234","TransactionReference":"100","Document":"BASE64
        STRING LESS THAN 5MB","DocType":"jpg","Identification":"Null"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <PROPAY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"59"}'
  recorded_at: Thu, 16 Jul 2020 16:24:41 GMT
recorded_with: VCR 6.0.0
