---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayAPI/MerchantBusinessInfo/123456
    body:
      encoding: UTF-8
      string: '{"AccountNumber":123456,"AuthorizedSignerFirstName":"TestFirstName","AuthorizedSignerLastName":"TestLastName","AuthorizedSignerTitle":"TestTitle","BusinessData":{"BusinessLegalName":"Testlegalname","DoingBusinessAs":"TestDBA","EIN":"584384656","WebsiteURL":"www.test.com","BusinessDescription":"Test
        description","MonthlyBankCardVolume":9000,"HighestTicket":1000},"BusinessAddress":{"ApartmentNumber":null,"Address1":"AddressLine1","Address2":"AddressLine2","City":"TestCity","State":"CA","Country":null,"Zip":"13245"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <PROPAY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"59"}'
  recorded_at: Thu, 16 Jul 2020 15:51:26 GMT
recorded_with: VCR 6.0.0
