---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayAPI/MerchantPaymentInformation/123456
    body:
      encoding: UTF-8
      string: '{"AccountNumber":123456,"CreditCardData":null,"PaymentBank":{"AccountNumber":"7654321","RoutingNumber":"324079555","AccountType":"Savings"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"59"}'
  recorded_at: Thu, 16 Jul 2020 15:41:23 GMT
recorded_with: VCR 6.0.0
