---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayAPI/MerchantGrossSettleBilling/123456
    body:
      encoding: UTF-8
      string: '{"AccountNumber":123456,"GrossBillingInformation":{"GrossSettleBankAccount":null,"GrossSettleAddress":{"Address1":"123
        Main Stree","City":"LA","State":"CA","Country":"USA","Zip":"90210"},"GrossSettleCardData":{"NameOnCard":"Bo
        Diddley","CreditCardNumber":"<credit card number>","ExpirationDate":"0522"},"GrossSettlePropayAccount":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <PROPAY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"59"}'
  recorded_at: Thu, 16 Jul 2020 15:59:32 GMT
recorded_with: VCR 6.0.0
