---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayAPI/MerchantServices/123456
    body:
      encoding: UTF-8
      string: '{"AccountNumber":123456,"CcProcessing":true,"ACHOut":true,"ACHIn":true,"ProPayOut":true,"ProPayIn":true,"SoftLimitEnabled":"y","AchPaymentSoftLimitEnabled":"y","CreditCardMonthLimit":0,"CreditCardTransactionLimit":0,"SoftLimitAchOffPercent":0,"AchPaymentAchOffPercent":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"65"}'
  recorded_at: Thu, 16 Jul 2020 16:02:49 GMT
recorded_with: VCR 6.0.0
