---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayAPI/MerchantAddress/123456
    body:
      encoding: UTF-8
      string: '{"AccountNumber":123456,"Address":{"ApartmentNumber":"K","Address1":"123
        New Street","Address2":"Some address2","City":"LA","State":"CA","Country":"USA","Zip":"90210"},"MailAddress":{"ApartmentNumber":null,"Address1":"PO
        Box 111","Address2":"Some street","City":"LA","State":"CA","Country":"USA","Zip":"90210"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"59"}'
  recorded_at: Thu, 16 Jul 2020 13:37:28 GMT
recorded_with: VCR 6.0.0
