---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayAPI/TimedPull
    body:
      encoding: UTF-8
      string: '{"accountNum":123456,"recAccntNum":987654,"amount":100,"transNum":2,"invNum":"Invoice","comment1":"Test
        Comments","comment2":"Test Comments2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <PROPAY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"59","TransactionNumber":2}'
  recorded_at: Thu, 16 Jul 2020 16:52:24 GMT
recorded_with: VCR 6.0.0
