---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayAPI/ProPayToProPay
    body:
      encoding: UTF-8
      string: '{"amount":100,"invNum":"Test Invoice Number","comment1":"Test Comment
        1","comment2":"Test Comment 2","recAccntNum":"123456"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <PROPAY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"59","TransactionNumber":10}'
  recorded_at: Thu, 16 Jul 2020 16:46:48 GMT
recorded_with: VCR 6.0.0
