---
http_interactions:
- request:
    method: put
    uri: https://xmltestapi.propay.com/propayAPI/PushFundsToFlashFundsCard/123456
    body:
      encoding: UTF-8
      string: '{"accountNum":718045866,"amount":"1000"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 409
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"AccountNumber":123456,"Status":"79"}'
  recorded_at: Thu, 16 Jul 2020 16:41:55 GMT
recorded_with: VCR 6.0.0
